/* You can add global styles to this file, and also import other style files */
body {
    background-color: #5f7c8a;
}

/*

h1, h2, p, a, label, th, td {
    color: #fff;
}

table {
    text-align: center;
}

*/